<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Ode To Food</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#/secret">Secret recipe</a></li>
        </ul>
        <div>
            <div class="navbar-text navbar-right">
                <button class="btn btn-default btn-sm">Sign Out</button>
            </div>
            <form  name="loginForm" class="navbar-form navbar-right"
                  >
                <div class="form-group">
                    <input name="username" type="text" placeholder="Username" />
                </div>
                <div class="form-group">
                    <input name="password" type="password" placeholder="Password" />
                </div>
                <input class="btn btn-default btn-sm" type="submit" value="Login" />
            </form>
        </div>
    </div>
</nav>
