<div ng-controller="adminController as model">
    <h3 class="text-muted">Employee Admin</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rating</th>
            <th></th>
        </tr>
        </thead>
        <tr ng-repeat="employee in model.employees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td><amr-rating value="employee.rating" min="1" max="5"></amr-rating></td>
            <td><button class="btn btn-xs btn-danger" ng-click="model.promote(employee)">Promote</button></td>
        </tr>
    </table>
</div>